@page "/liveview"
@using BlazorLiveView.Dashboard.Components
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>LiveViewDashboardPage</PageTitle>
<h1>LiveViewDashboardPage</h1>

<LiveViewDashboard CircuitIdToLink="@CircuitIdToLink"
                   UserSelectorToLink="@UserSelectorToLink"
                   ShowFullUrl="false" />

@code {
    private string CircuitIdToLink(string circuitId,
        bool debugView = false)
    {
        return $"/liveview/circuit/{circuitId}"
            + $"{(debugView ? "?DebugView=true" : "")}";
    }
    
    private string UserSelectorToLink(string userSelector,
        bool debugView = false)
    {
        return $"/liveview/user/{Uri.EscapeDataString(userSelector)}"
            + $"{(debugView ? "?DebugView=true" : "")}";
    }
}
