@page "/liveview/circuit/{CircuitId}"
@page "/liveview/user/{UserSelector}"
@using BlazorLiveView.Dashboard.Components
@using Microsoft.AspNetCore.Authorization
@layout BlazorLiveView.Dashboard.Layouts.EmptyLayout
@attribute [Authorize]

@if (!string.IsNullOrEmpty(CircuitId))
{
    <LiveViewCircuitScreen SourceCircuitId="@CircuitId"
                           DebugView="@DebugView" />
}
else if (!string.IsNullOrEmpty(UserSelector))
{
    <LiveViewUserScreen UserSelector="@UserSelector"
                        DebugView="@DebugView" />
}
else
{
    <p>Invalid parameters. Either CircuitId or UserSelector must be provided.</p>
}

@code {
    [Parameter]
    public string? CircuitId { get; set; }

    [Parameter]
    public string? UserSelector { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public bool DebugView { get; set; } = false;
}
