@page "/liveview"
@using BlazorLiveView.Dashboard.Components

<PageTitle>LiveViewDashboardPage</PageTitle>
<h1>LiveViewDashboardPage</h1>

<LiveViewDashboard CircuitIdToLink="@CircuitIdToLink" ShowDebugLinks="true" ShowFullUrl="true" />

@code {
    private string CircuitIdToLink(string circuitId,
        bool debugView = false)
    {
        return $"/liveview/{circuitId}"
            + $"{(debugView ? "?DebugView=true" : "")}";
    }
}
