.liveview-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 100%;
}

.liveview-screen-content {
    flex-grow: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.liveview-screen-iframe {
    flex-grow: 1;
    border: 2px solid red;
}
