@page "/counter"
@using BlazorLiveView.Core.JSInterop

@inject ILiveViewJSRuntime LiveViewJS
@inject IJSRuntime interceptedJSRuntime

<script>
    window.not_intercepted_function = function() {
        alert("This function is not intercepted, because of interception rules.");
    }
    window.intercepted_function = function() {
        alert("This function is intercepted.");
    }
</script>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" @ref="x">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<button class="btn btn-primary" @onclick="CallNotInterceptedFunction">Call not_intercepted_function</button>
<button class="btn btn-primary" @onclick="CallInterceptedFunction">Call intercepted_function</button>

@code {
    private ElementReference x;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        if(currentCount % 5 == 0)
        {
            LiveViewJS.InvokeVoidAsync("alert", $"Current count is {currentCount}");
        }
    }

    private void CallNotInterceptedFunction()
    {
        interceptedJSRuntime.InvokeVoidAsync("not_intercepted_function");
    }

    private void CallInterceptedFunction()
    {
        interceptedJSRuntime.InvokeVoidAsync("intercepted_function");
    }
}
